@media(max-width:1200px) {
    .wrapper {
    max-width:1200px;
    }
}
@media(max-width:992px) {
    .wrapper {
    max-width: 992px;
    }
}
    @media(max-width:767px) {
    .wrapper {
    max-width: 767px;
        }
}

@media (max-width:1200px) {
    .header_menu {
        margin-top: 1px;
        align-items: flex-end;
        display: flex;
        font-size: 20px;
    }
    .header_logo {
        margin: 0;
   }
}
@media (max-width:992px) {
    .header_menu {
        font-size:35px;
    }
}
@media (max-width:767px) {
    .header_menu {
        position: relative;
        max-width: none;
        margin-right: 25px;
        z-index: 1;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        font-size: 27px;

    }
}

@media(max-width:1200px) {
    .section_one {
        max-width: 1200px;
    }
    .style_apple {
        margin-left:5px;
        padding-top: 100px;
    }
    .main_best, .main_h1 {
        font-size: 45px;
    }
    .main_apple_img {
        position: relative;
        margin-left: 100%;
    }
}
@media(max-width:992px) {
    .section_one {
        max-width: 992px;
    }
    .main_best, .main_h1 {
         font-size: 35px;
         line-height: 1;
         z-index: 1;
    }
    .main_apple_img  {
        margin-left: 100%;
        position: relative;
    }
}
@media(max-width:867px)  {
    .main_apple_img {
        margin-top: -450px;
    }
}
@media(max-width:767px) {
    .section_one {
        max-width: 767px;
        height: 0px;
        border-bottom: 400px solid #282e40;
        border-right: 230px solid transparent;
    }
    .main_text {
        display: none;
    }
    .main_apple_img {
        margin-left: -1px;
        opacity: .8;
        margin-top: -180px;
        pointer-events: none;
    }
    .main_apple_img img {
        display: none;
    }
}

@media(max-width:1200px) {
    .two_text, .two_h2 {
        margin: 0;
    }
    .section_two {
        max-width: 1100px;
    }
}
@media(max-width:992px) {
    .section_two {
        flex-wrap: wrap;
        position: relative;
        max-width: 992px;
    }
}
@media(max-width:767px) {
    .two_text, .two_h2 {
        margin: 0;
        margin-left: 15px;
        font-size: 25px;
    }
    .section_two {
        max-width: 767px;
    }
    .two_img{
        margin: 0;
        max-width: none;
        position: relative;
    }
    .two_img img {
        width: 300px;
    }
}

@media(max-width:1250px){
    .section_three {
        text-align: center;
        width:100%;
        height: 100%;
    }
    .section_three h2 {
        margin: 0 ;
        text-align: center;
    }
}
@media(max-width:992px){
    .section_three {
        text-align: center;
        max-width: 990px;
        height: 100%;
    }
    .three_figur {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}
@media(max-width:767px){
    .section_three {
        max-width: 767px;
        height: 100%;
    }
}
@media(max-width:480px) {
    .section_three figure img {
        width: 260px;
    }
}

@media(max-width:1200px){
    .section_fore{
        width: 100%;
        margin: 0;
    }
    .fore_conteiner {
        font-size: 35px;
}
}
@media(max-width:992px){
   .section_fore{
       max-width: 750px;
       margin: 0;
       flex-wrap: wrap;
}
}
@media(max-width:767px) {
    .section_fore p img {
        display: none;
    }
    .fore_conteiner {
        font-size: 30px;
   }
    .section_fore p {
        margin-top: 0;
    }
    .section_fore{
        max-width: none;
        margin: 0;
    }
}

@media(max-width:1400px) {
    .section_five {
        margin-left:0;
    }
    .five_flex {
        margin:0 ;
    }
}
@media(max-width:1210px) { 
    .section_five, .five_flex {
       max-width: 1200px;
       height: 100%;
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0;
           }
    .section_five h3 {
        margin: 0;
        text-align: center;
    }
}
@media(max-width:992px) { 
    .section_five, .five_flex {
       max-width: 992px;
    }
}
@media(max-width:767px) { 
    .section_five, .five_flex {
       max-width: 767px;
    }
}
@media(max-width:460px) {
    .figure_blog1, .figure_blog2, .figure_blog3 {
        pointer-events: none;
    }
}

@media(max-width:1200px) {
    .form img {
        width: 510px;
        height: 375px;
    }
}
@media(max-width:992px) {
    .form img {
        width: 250px;
    }
}
@media(max-width:767px) {
    .form img {
        display: none;
    }
    .form_form { 
        max-width:760px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:1200px) {
    .footer_conteiner {
        max-width:1200px;
    }
}
@media(max-width:1015px) {
    .post {
        display: none;
    }
}
@media(max-width:992px) {
    .footer_conteiner {
        max-width: 992px;
        font-size: 14px;
        }
}
@media(max-width:767px) {
    .footer_conteiner {
        max-width:767px;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }
    .footer_conteiner h4 {
        font-size: 24px;
    }
}
@media(max-width:590px) {
    .foot_menu {
        display: none;
    }
    .footer_email input {
        width: 120px;
        padding:0;
    }
}
